<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.media.mapper.AnimeMapper">

    <!-- 新增 -->
    <insert id="insert" parameterType="Anime">
        INSERT INTO anime
        (user_id, name, score, tags, status, finish_time, comment, cover, create_time)
        VALUES
            (#{userId}, #{name}, #{score}, #{tags}, #{status}, #{finishTime}, #{comment}, #{cover}, NOW())
    </insert>

    <!-- 查询 -->
    <select id="findByUserId" resultType="Anime">
        SELECT * FROM anime
        WHERE user_id = #{userId}
        ORDER BY create_time DESC
    </select>

    <!-- 详情 -->
    <select id="findById" resultType="Anime">
        SELECT * FROM anime WHERE id = #{id}
    </select>

    <!-- 更新 -->
    <update id="update" parameterType="Anime">
        UPDATE anime
        SET
            name = #{name},
            score = #{score},
            tags = #{tags},
            status = #{status},
            finish_time = #{finishTime},
            comment = #{comment},
            cover = #{cover},
            update_time = NOW()
        WHERE id = #{id}
    </update>

    <!-- 删除 -->
    <delete id="delete">
        DELETE FROM anime WHERE id = #{id}
    </delete>

    <!-- 按名字搜索 -->
    <select id="findByUserIdAndNameLike" resultType="Anime">
        SELECT * FROM anime WHERE user_id = #{userId} AND name LIKE #{name} ORDER BY create_time DESC
    </select>

</mapper>